/*
* {
  border: 1px dotted red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }*/


header {
    width: 100%;
    height: 500px;
  }


.beach {
    width: 100%;
    height: 500px;

    background:
    linear-gradient(
      rgba(64, 134, 191, 0.5),
      rgba(64, 134, 191, 0.5)
      ), url('http://www.treasurebeachhotel.com/images/property_assets/treasure/page-bg.jpg');
      background-size: cover;

}



body {
  margin: 5px;
}


h1 {
  color: white;
  font-size: 75px;
  padding: 5px;
  text-align: center;
  font-style: 'Myriad Pro', sans-serif;
}

header {
  color: #C6E2FF;
  opacity: 0.5;
}

header p {
  color: black;
  font-size:15px;
  text-align: center;
  padding: 0;
}

header h1 {
  color: whit;
  text-decoration: none;
  vertical-align: top;
}


.upnav a {
  text-decoration: none;

}
nav ul {
  list-style-type: none;
  display: inline-block;
  color: black;
  text-decoration: none;

}

nav li {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.upnav {
  float: right;
  margin: 10px 10px 10px 765px;
  font-size: 16px;
  font-family: 'Monaco';
  size: 12px;
  color: black;
}

.beach a:hover, .beach li:hover{
  background: grey;
}

h2 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 43px;
  color: black;
  padding: 5px:;
}

.littleSloth {
  border-radius: 98%;
  height:25px;
  width: 25px;
  background-image: url("images/slothglasses.jpg");
  background-size: cover;

}

h2 nav {
  margin: 5px, 45px, 5px, 5px;
}

section a:hover {
  background: grey;
}

article {
  font-size: 17px;
  color: black;
  font-family: "Lato";
}

h7 {
  font-family: "Roboto-Condensed", sans-serif;
  font-size: 33px;
  color: #499DF5;
  margin: 1px 45px 1px 12px;
}

aside a:hover{
    background: grey;
  }

}

.midnav {
  margin: 10px 10px 10px 10px;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;

}

.midnav li {
  backgrond-color: green;
  display: inline-block;
  vertical-align: top;

}

section, aside {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  margin: 5px;
}

section {
  width: 55%;
}

aside {
  width: 35%;
}

.AM {
  margin: 15px;
  padding: 5px;
  text-align: center;
}

.BigSloth {
  border-radius: 95%;
  height: 55px;
  width: 55px;
  background-image: url("images/slothglasses.jpg");
  background-size: cover;
}

.sidenav a {
  color: green;
  margin: 5px 35px 5px 35px;
  text-decoration: none;
}

.paddle, .AboutAd {
  display: block;
}

.paddle {
  margin: 10px 75px 1px 55px;
}
.AboutAd {
  margin: 1px 5px 1px 275px;
}

.sidesec h6 {
  color: blue;
  font-size: 12px;
  margin: 1px 150px 1px 1px;
  padding: 0;
}

.sidesec p6 {
  margin: 1px 250px 1px 1px;
}

footer {
  background-color: #739AC5;
}

footer h3 {
  color: black;
  font-size: 35px;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 1px 350px 1px 350px;
  text-align: center;
}

.boys img {
  width: 310px;
  height: 200px;
  margin: 1px;
  padding: 0;
  display: inline-block;
}
/*
.boys p{
  font-size: 15px;
  color: green;
  font-family: "Lato", sans-serif;

}*/

.surfdude, .surfdudesbeer, .surfdude2, .surfdude3 {
  display: inline-block;
  vertical-align: top;
  /*width: 300px;
  height: 200px;
  padding: 0;*/
}


.surfdude .text1 {
  position: absolute;
  top: 110px;
  left: 10px;
  width: 200px;
}

/*
.surfdude {
  position: relative;
  /*background-repeat: no-repeat;
  background-image: url("images/surfdude.jpeg")
}*/


.text1{
  font-size: 22px;
  padding: 0;
  text-align: center;
}

.surfdudesbeer .text2 {
  position: absolute;
  top: 110px;
  left: 10px;
  width: 200px;
}
/*
.surfdudesbeer {
  position: relative;
  /*background-repeat: no-repeat;
  background-image: url("images/surfdudesbeer.jpeg")
}*/

.text2  {
  font-size: 22px;
  padding: 0;
  text-align: center;
}

.surfdude2 .text3 {
  position: absolute;
  top: 110px;
  left: 10px;
  width: 200px;
}
/*
.surfdude2 {
  position: relative;
  /*background-repeat: no-repeat;
  background-image: url("images/surfdude2.jpeg")
}*/


.text3  {
  font-size: 22px;
  padding: 0;
  text-align: center;
}


.surfdude3 .text4 {
  position: absolute;
  top: 110px;
  left: 10px;
  width: 200px;
}
/*
.surfdude3 {
  position: relative;
/*  background-repeat: no-repeat;
  background-image: url("images/surfdude3.jpeg")
}*/


.text4  {
  font-size: 22px;
  padding: 0;
  text-align: center;
}



footer nav {
  padding: 0;
}


.boxed img, .boxed h5, .boxed nav {
  display: inline-block;
  vertical-align: top;
}

.boxed img {
  width: 100px;
}

.boxed h5 {
  width: 300px;
  margin: 40px 5px 5px 5px;
  font-size: 13px;
  color: white;
}

.boxed nav {
  width: 100px;
  margin: 5px 5px 5px 300px;
  display: inline-block;
}

.boxed a {
  text-decoration: none;
  display: inline-block;
  color: white;
  vertical-align: top;
}

.boxed ul li {
  display: inline-block;
  vertical-align: top;
}


.Paddle {
  padding: 10px;
}
